@import '../styl/Group'

.bordered
  border-style solid
  border-color grey
  border-width 0


.othello-board

  .othello-tile
    @extend .bordered
    position relative
    border-width 1px

    padding-bottom 100%

    .piece
      position absolute
      top 0
      bottom 0
      left 0
      right 0

      width 80%
      height @width
      border-radius 50%
      margin auto

      &.red
        background-color red
      &.blue
        background-color blue
