@import '../styl/Colors'
.game-over
  color $brand-white
  background-color $brand-warning
  border-radius 5px
  padding 20px
  text-align center
  
  .winner
    font-weight bold
    &.red
      color red
    &.blue
      color blue
