@import '../styl/Colors'

.othello-player
  margin 0.5em
  padding 0.5em 1em
  border-radius 4px
  background-color $gray-lighter
  opacity 0.25

  &.active
    opacity 1

  .red
    color red

  .blue
    color blue

  .player-header
    font-size 16px
    fong-weight bold
